fastapi
pydantic
uvicorn
opensearch-py
asyncio
angle-emb # it takse sometime to download
langchain # it takes sometime to downlaod
langchainhub
replicate
bitsandbytes
# the total time to download all libraries is about 15 minutes

# huggingface-hub
# elasticsearch
# sentence-transformers
